@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.html, :root{
    width: 100%;
    height: 100vh;
    background-color: #FFFF ;
}

.body{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
    