# Node.js
/node_modules
.npm-debug.log*

# Next.js
.next/
/out/

# Environment variables
.env.local
.env.*.local
.env

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Compiled C# files and directories
bin/
obj/

# NuGet packages
packages/

# Visual Studio specific files
*.user
*.suo
*.sln.docstates
*.userprefs

# ReSharper
_ReSharper*/

# Rider IDE
.idea/

# Compiled C# files
*.exe
*.dll
*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Windows thumbnail cache
Thumbs.db
ehthumbs.db

# Windows folder configuration file
Desktop.ini

# Windows Recycle Bin
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Ignore backend directory (Adjust the path if necessary)
# Replace 'relative/path/to/backend' with the relative path from the frontend project to the backend project
./talstrom_server
